NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

NEXT_PUBLIC_KAKAO_LINK=http://pf.kakao.com/_CUPCX/chat
NEXT_PUBLIC_LAWFIRM_LINK=https://xn--9z2b2xi4aba940lua.com/
NEXT_PUBLIC_NAVER_CAFE_LINK=https://cafe.naver.com/coincheating

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_ID=